{% extends "main/base.html" %}

{% block title %} View List {% endblock %}

{% block content %} 
<h1>{{ ls.name }}</h1>

<form method="post" action="#">
    {% csrf_token %}
    
    <ul>
        {% for item in ls.item_set.all %}
            <li>
                <input type="checkbox" value="clicked" name="c{{ item.id }}" {% if item.completed %}checked{% endif %}>
                {{ item.text }}
            </li>
        {% endfor %}
    </ul>

    <!-- Save Button -->
    <button type="submit" name="save">Save</button>
</form>

<!-- Separate form to add a new item -->
<form method="post" action="#">
    {% csrf_token %}
    
    <input type="text" name="new" placeholder="Add new item..." required>
    
    <!-- Add Item Button -->
    <button type="submit" name="newItem">Add Item</button>
</form>

{% endblock %}
